@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classic VS Code Scrollbars */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border: 4px solid rgba(0,0,0,0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
  border: 4px solid rgba(0,0,0,0);
  background-clip: padding-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
